@media (min-width: 475px) {}
@media (min-width: 640px) {}
@media (min-width: 768px) {}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {}
@media (min-width: 1536px) {}
.painel {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(36, 102, 224);
}

#sim {
    width: 60px;
    height: 40px;
    background-color: rgb(255, 100, 209);
    border: 2px solid  white;
    border-radius: 10px;
    color: white;
    margin-left: -50px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    
}

#nao {
    position: absolute;
    height: 40px;
    width: 60px;
    background-color:rgb(255, 100, 209);
    border:2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    text-decoration: none;
    outline: none;
    box-shadow: none;

}
